<%= form_with(model: direct_message, local: true) do |form| %>
  <% if direct_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(direct_message.errors.count, "error") %> prohibited this direct_message from being saved:</h2>

      <ul>
      <% direct_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :opening %>
    <%= form.text_field :opening, id: :direct_message_opening %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body, id: :direct_message_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
